// COMMON :: START

.social {
	display: flex;
	flex-direction: column;
	@include adaptive(767) {
		flex-direction: row;
	}

	&__item {
		display: flex;

		&:not(:last-of-type) {
			padding-bottom: 9px;
			@include adaptive(767) {
				padding-bottom: 0;
				margin-right: 10px;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;

		&:hover {
			span {
				background-color: #ffffff;
				@include transition(background-color);
			}

			.icon-font {
				&.icon {
					&-facebook {
						color: #fff;
						@include transition(color);
					}
				}
			}

			p {
				color: #ffffff;
				@include transition(color);
			}
		}

		&.social__link--facebook {
			span {
				background-color: transparent;
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 14px;
			height: 14px;
			border-radius: 1px;
			background-color: #E0E2E3;
			@include transition(background-color);
		}

		.icon-font {
			&.icon {
				&-facebook {
					color: #e0e2e3;
					font-size: 14px;
					@include transition(color);
				}
				&-instagram {
					color: #384047;
					font-size: 10px;
				}
				&-vk,
				&-play {
					color: #384047;
					font-size: 6px;
				}
				&-play {
					position: relative;
					left: 1px;
				}
			}
		}

		p {
			padding-left: 9px;
			font-size: 13px;
			line-height: 21px;
			color: #E0E2E3;
			@include transition(color);
		}
	}
}


.rating {
	display: flex;
	align-items: center;
	padding-bottom: 7px;

	&__item {
		display: flex;

		&:not(:last-of-type) {
			margin-right: 6px;
		}
	}

	&__star {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 14px;
		height: 14px;

		&.rating__star--half {
			svg:first-of-type {
				fill: #79838C;
			}
			svg:last-of-type {
				left: -4px;
			}
		}

		svg {
			position: absolute;
			width: 14px;
			height: 14px;
			fill: $c-white;
		}
	}
}


.copyright {
	display: flex;
	@include adaptive(767) {
		padding-bottom: 6px;
	}

	&__text {
		font-weight: 500;
		font-size: 10.7px;
		line-height: 13px;
		color: #FFFFFF;
	}
}


.overlay {
	opacity: 0;
	z-index: 1555;
	visibility: hidden;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(225, 226, 227, 0.85);
	@include transition(opacity, visibility);

	&.is-show {
		opacity: 1;
		visibility: visible;
		@include transition(opacity, visibility);
	}
}

// COMMON :: END
