@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.details__poster-right img, .details__image img, .sticky__box-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-chile-flag {
  width: 19px;
  height: 12px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-chinese {
  width: 54px;
  height: 54px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-chinese-flag {
  width: 19px;
  height: 12px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-france-flag {
  width: 19px;
  height: 12px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-french {
  width: 54px;
  height: 54px;
}

/* line 21, src/scss/_generated/_spriteSVG.scss */
.icon-half-star {
  width: 512px;
  height: 512px;
}

/* line 25, src/scss/_generated/_spriteSVG.scss */
.icon-russian {
  width: 54px;
  height: 54px;
}

/* line 29, src/scss/_generated/_spriteSVG.scss */
.icon-spanish {
  width: 54px;
  height: 54px;
}

/* line 33, src/scss/_generated/_spriteSVG.scss */
.icon-star {
  width: 510px;
  height: 510px;
}

/* line 37, src/scss/_generated/_spriteSVG.scss */
.icon-ukraine-flag {
  width: 19px;
  height: 12px;
}

/* line 41, src/scss/_generated/_spriteSVG.scss */
.icon-usa {
  width: 54px;
  height: 54px;
}

/* line 45, src/scss/_generated/_spriteSVG.scss */
.icon-usa-flag {
  width: 19px;
  height: 12px;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-checked:before, .icon-close:before, .icon-facebook:before, .icon-flash:before, .icon-mail:before, .icon-play:before, .icon-vk:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-checked:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-close:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-flash:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-mail:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-vk:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1108px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 7, src/scss/_shared/_common.scss */
.social__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, src/scss/_shared/_common.scss */
.social__item:not(:last-of-type) {
  padding-bottom: 9px;
}

/* line 15, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 20, src/scss/_shared/_common.scss */
.social__link:hover span {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 27, src/scss/_shared/_common.scss */
.social__link:hover .icon-font.icon-facebook {
  color: #fff;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 34, src/scss/_shared/_common.scss */
.social__link:hover p {
  color: #ffffff;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 41, src/scss/_shared/_common.scss */
.social__link.social__link--facebook span {
  background-color: transparent;
}

/* line 46, src/scss/_shared/_common.scss */
.social__link span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background-color: #E0E2E3;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 59, src/scss/_shared/_common.scss */
.social__link .icon-font.icon-facebook {
  color: #e0e2e3;
  font-size: 14px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 64, src/scss/_shared/_common.scss */
.social__link .icon-font.icon-vk, .social__link .icon-font.icon-play {
  color: #384047;
  font-size: 6px;
}

/* line 69, src/scss/_shared/_common.scss */
.social__link .icon-font.icon-play {
  position: relative;
  left: 1px;
}

/* line 76, src/scss/_shared/_common.scss */
.social__link p {
  padding-left: 9px;
  font-size: 13px;
  line-height: 21px;
  color: #E0E2E3;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 87, src/scss/_shared/_common.scss */
.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
}

/* line 92, src/scss/_shared/_common.scss */
.rating__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 95, src/scss/_shared/_common.scss */
.rating__item:not(:last-of-type) {
  margin-right: 6px;
}

/* line 100, src/scss/_shared/_common.scss */
.rating__star {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 14px;
  height: 14px;
}

/* line 109, src/scss/_shared/_common.scss */
.rating__star.rating__star--half svg:first-of-type {
  fill: #79838C;
}

/* line 112, src/scss/_shared/_common.scss */
.rating__star.rating__star--half svg:last-of-type {
  left: -4px;
}

/* line 117, src/scss/_shared/_common.scss */
.rating__star svg {
  position: absolute;
  width: 14px;
  height: 14px;
  fill: #fff;
}

/* line 127, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 130, src/scss/_shared/_common.scss */
.copyright__text {
  font-weight: 500;
  font-size: 10.7px;
  line-height: 13px;
  color: #FFFFFF;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 103px;
}

/* line 12, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
}

/* line 18, src/scss/_macros/_btn.scss */
.c-btn:hover, .c-btn:active {
  -webkit-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
}

/* line 22, src/scss/_macros/_btn.scss */
.c-btn:hover:after, .c-btn:active:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
}

/* line 30, src/scss/_macros/_btn.scss */
.c-btn:after {
  content: '';
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: -webkit-calc(40% + 30px) 0;
  padding: calc(40% + 30px) 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0);
          transform: translateX(-50%) translateY(-50%) scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);
}

/* line 47, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  font-weight: 500;
  text-align: center;
}

/* line 54, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 59, src/scss/_macros/_btn.scss */
.c-btn--small {
  height: 40px;
}

/* line 62, src/scss/_macros/_btn.scss */
.c-btn--small span {
  font-size: 14px;
  line-height: 20px;
}

/* line 68, src/scss/_macros/_btn.scss */
.c-btn--big {
  height: 48px;
}

/* line 71, src/scss/_macros/_btn.scss */
.c-btn--big span {
  font-size: 16px;
  line-height: 22px;
}

/* line 77, src/scss/_macros/_btn.scss */
.c-btn__primary {
  background-color: #3bb3bd;
}

/* line 80, src/scss/_macros/_btn.scss */
.c-btn__primary:after {
  background-color: #35a1aa;
}

/* line 84, src/scss/_macros/_btn.scss */
.c-btn__primary span {
  color: #FFFFFF;
}

/* line 89, src/scss/_macros/_btn.scss */
.c-btn__secondary {
  background-color: #FFFFFF;
}

/* line 92, src/scss/_macros/_btn.scss */
.c-btn__secondary:after {
  background-color: #f7f7f7;
}

/* line 96, src/scss/_macros/_btn.scss */
.c-btn__secondary span {
  color: #3bb3bd;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 12, src/scss/_components/_header.scss */
.header.header--fixed {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 17, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

/* line 4, src/scss/_components/_footer.scss */
.footer .c-grid {
  max-width: 1280px;
}

/* line 9, src/scss/_components/_footer.scss */
.footer__row-1 {
  padding-top: 39px;
  padding-bottom: 46px;
  background-color: #384047;
}

/* line 14, src/scss/_components/_footer.scss */
.footer__row-2 {
  background-color: #32393f;
}

/* line 19, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (max-width: 1023px) {
  /* line 19, src/scss/_components/_footer.scss */
  .footer__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 28, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 97px;
}

/* line 33, src/scss/_components/_footer.scss */
.footer__wrapper-2 .footer__col-2 {
  max-width: -webkit-calc((100% / 4) * 2);
  max-width: calc((100% / 4) * 2);
}

/* line 36, src/scss/_components/_footer.scss */
.footer__wrapper-2 .footer__col-4 {
  display: none;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__col {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
}

/* line 49, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 18px;
  font-size: 14.2667px;
  line-height: 17px;
  color: #FFFFFF;
}

/* line 56, src/scss/_components/_footer.scss */
.footer__subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 500;
  font-size: 12.4833px;
  line-height: 21px;
  color: #FFFFFF;
}

/* line 64, src/scss/_components/_footer.scss */
.footer__subtitle img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 8px;
}

/* line 72, src/scss/_components/_footer.scss */
.footer__desc {
  font-size: 12.4833px;
  line-height: 21px;
  color: #E0E2E3;
}

/* line 78, src/scss/_components/_footer.scss */
.footer__link {
  font-weight: 500;
  font-size: 12.4833px;
  line-height: 21px;
  color: #FFFFFF;
}

/* line 84, src/scss/_components/_footer.scss */
.footer__link--email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 88, src/scss/_components/_footer.scss */
.footer__link--email .icon-font {
  margin-right: 5px;
  color: #e0e2e3;
  font-size: 10px;
}

/* line 96, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 100, src/scss/_components/_footer.scss */
.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 104, src/scss/_components/_footer.scss */
.footer__nav-dot {
  margin-left: 5px;
  margin-right: 5px;
  color: #E0E2E3;
}

/* line 110, src/scss/_components/_footer.scss */
.footer__nav-link {
  font-size: 10.7px;
  line-height: 13px;
  color: #E0E2E3;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 116, src/scss/_components/_footer.scss */
.footer__nav-link:hover {
  color: #ffffff;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 3, src/scss/_components/homepage/_language.scss */
.language {
  padding-top: 16px;
  padding-bottom: 32px;
}

/* line 7, src/scss/_components/homepage/_language.scss */
.language__wrapper {
  padding: 32px 40px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #F8F8F8;
}

/* line 13, src/scss/_components/homepage/_language.scss */
.language__title {
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #384047;
}

/* line 21, src/scss/_components/homepage/_language.scss */
.language__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 28, src/scss/_components/homepage/_language.scss */
.language__box:hover .language__box-flag {
  -webkit-box-shadow: 0px 3px 4px rgba(56, 64, 71, 0.2);
          box-shadow: 0px 3px 4px rgba(56, 64, 71, 0.2);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 33, src/scss/_components/homepage/_language.scss */
.language__box:hover .language__box-content {
  color: #222;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 42, src/scss/_components/homepage/_language.scss */
.language__box.language__box--more .language__box-flag {
  border-color: #3BB3BD;
  background-color: #3bb3bd;
}

/* line 49, src/scss/_components/homepage/_language.scss */
.language__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 53, src/scss/_components/homepage/_language.scss */
.language__box-wrapper > div {
  padding-right: 47px;
}

/* line 58, src/scss/_components/homepage/_language.scss */
.language__box-flag {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 2px solid #FFFFFF;
  background-color: #C4C4C4;
  -webkit-box-shadow: 0px 6px 8px rgba(56, 64, 71, 0.12);
          box-shadow: 0px 6px 8px rgba(56, 64, 71, 0.12);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 72, src/scss/_components/homepage/_language.scss */
.language__box-flag img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 82, src/scss/_components/homepage/_language.scss */
.language__box-content {
  padding-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6F757B;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 3, src/scss/_components/homepage/_details.scss */
.details {
  padding-top: 32px;
  padding-bottom: 36px;
}

/* line 7, src/scss/_components/homepage/_details.scss */
.details__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  /* line 7, src/scss/_components/homepage/_details.scss */
  .details__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 13, src/scss/_components/homepage/_details.scss */
.details__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 96px;
}

@media screen and (max-width: 1023px) {
  /* line 13, src/scss/_components/homepage/_details.scss */
  .details__wrapper-left {
    padding-right: 0;
    padding-bottom: 30px;
  }
}

/* line 24, src/scss/_components/homepage/_details.scss */
.details__wrapper-right {
  width: 276px;
}

@media screen and (max-width: 1023px) {
  /* line 24, src/scss/_components/homepage/_details.scss */
  .details__wrapper-right {
    width: 100%;
  }
}

/* line 32, src/scss/_components/homepage/_details.scss */
.details__title {
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 42px;
  line-height: 58px;
  color: #384047;
}

/* line 39, src/scss/_components/homepage/_details.scss */
.details__title-2 {
  padding-bottom: 28px;
}

/* line 43, src/scss/_components/homepage/_details.scss */
.details__title--sub {
  font-size: 28px;
  line-height: 42px;
}

/* line 48, src/scss/_components/homepage/_details.scss */
.details__title span {
  position: relative;
  height: 56px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E0F4F5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #3BB3BD;
}

/* line 59, src/scss/_components/homepage/_details.scss */
.details__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #384047;
}

/* line 69, src/scss/_components/homepage/_details.scss */
.details__heading span {
  padding-right: 5px;
  color: #3BB3BD;
}

/* line 75, src/scss/_components/homepage/_details.scss */
.details__desc {
  width: 100%;
  max-width: 624px;
  font-size: 16px;
  line-height: 26px;
  color: #384047;
}

@media screen and (max-width: 1023px) {
  /* line 75, src/scss/_components/homepage/_details.scss */
  .details__desc {
    max-width: 100%;
  }
}

/* line 85, src/scss/_components/homepage/_details.scss */
.details__desc-1, .details__desc-12 {
  padding-bottom: 32px;
}

/* line 89, src/scss/_components/homepage/_details.scss */
.details__desc-2, .details__desc-5, .details__desc-9, .details__desc-11, .details__desc-15 {
  padding-bottom: 20px;
}

/* line 96, src/scss/_components/homepage/_details.scss */
.details__desc-3, .details__desc-7 {
  margin-bottom: 40px;
}

/* line 100, src/scss/_components/homepage/_details.scss */
.details__desc-4 {
  padding-bottom: 48px;
}

/* line 103, src/scss/_components/homepage/_details.scss */
.details__desc-6 {
  padding-bottom: 24px;
}

/* line 106, src/scss/_components/homepage/_details.scss */
.details__desc-8, .details__desc-10, .details__desc-13, .details__desc-14 {
  padding-bottom: 64px;
}

/* line 113, src/scss/_components/homepage/_details.scss */
.details__desc i {
  font-style: italic;
}

/* line 118, src/scss/_components/homepage/_details.scss */
.details__view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
}

/* line 123, src/scss/_components/homepage/_details.scss */
.details__view.details__view--light {
  padding-bottom: 0;
}

/* line 127, src/scss/_components/homepage/_details.scss */
.details__view.details__view--light .details__view-right p,
.details__view.details__view--light .details__view-right span {
  color: #ffffff;
}

/* line 134, src/scss/_components/homepage/_details.scss */
.details__view-right {
  padding-left: 24px;
}

/* line 137, src/scss/_components/homepage/_details.scss */
.details__view-right p,
.details__view-right span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

/* line 145, src/scss/_components/homepage/_details.scss */
.details__view-right p {
  color: #3BB3BD;
}

/* line 149, src/scss/_components/homepage/_details.scss */
.details__view-right span {
  color: #aeb5bc;
}

/* line 155, src/scss/_components/homepage/_details.scss */
.details__poster {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 704px;
  min-height: 364px;
  margin-bottom: 64px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #3BB3BD;
}

/* line 166, src/scss/_components/homepage/_details.scss */
.details__poster-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding: 32px 40px 40px;
}

/* line 173, src/scss/_components/homepage/_details.scss */
.details__poster-right {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 189px;
  min-height: 100%;
}

/* line 185, src/scss/_components/homepage/_details.scss */
.details__poster-title {
  padding-top: 32px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

/* line 194, src/scss/_components/homepage/_details.scss */
.details__poster-desc {
  padding-bottom: 24px;
  width: 100%;
  max-width: 390px;
  font-size: 16px;
  line-height: 26px;
  color: #F2F2F2;
}

/* line 204, src/scss/_components/homepage/_details.scss */
.details__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 704px;
  height: 364px;
  margin-bottom: 40px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* line 219, src/scss/_components/homepage/_details.scss */
.details__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 176px;
  padding: 32px 40px;
  margin-bottom: 32px;
  background-color: #E0F4F5;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

/* line 228, src/scss/_components/homepage/_details.scss */
.details__info span {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  color: #6F757B;
}

/* line 235, src/scss/_components/homepage/_details.scss */
.details__info p {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #384047;
}

/* line 243, src/scss/_components/homepage/_details.scss */
.details__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24px;
  padding-left: 27px;
}

/* line 249, src/scss/_components/homepage/_details.scss */
.details__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 540px;
}

/* line 255, src/scss/_components/homepage/_details.scss */
.details__list li:not(:last-of-type) {
  padding-bottom: 16px;
}

/* line 260, src/scss/_components/homepage/_details.scss */
.details__list li > div:nth-of-type(1) {
  padding-top: 2px;
  width: 32px;
}

/* line 264, src/scss/_components/homepage/_details.scss */
.details__list li > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 271, src/scss/_components/homepage/_details.scss */
.details__list li p {
  font-size: 16px;
  line-height: 24px;
  color: #384047;
}

/* line 276, src/scss/_components/homepage/_details.scss */
.details__list li p span {
  font-weight: 700;
}

/* line 282, src/scss/_components/homepage/_details.scss */
.details__list .icon-flash {
  color: #3bb3bd;
  font-size: 18px;
}

/* line 288, src/scss/_components/homepage/_details.scss */
.details__visual {
  overflow: hidden;
  position: relative;
  width: 414px;
  height: 240px;
  margin-bottom: 64px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #F2F2F2;
}

/* line 3, src/scss/_components/homepage/_sticky.scss */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  right: 0;
}

/* line 8, src/scss/_components/homepage/_sticky.scss */
.sticky__title {
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #384047;
}

/* line 18, src/scss/_components/homepage/_sticky.scss */
.sticky__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 68px;
}

/* line 24, src/scss/_components/homepage/_sticky.scss */
.sticky__box:hover .sticky__box-right {
  -webkit-box-shadow: 0px 2px 4px rgba(56, 64, 71, 0.16);
          box-shadow: 0px 2px 4px rgba(56, 64, 71, 0.16);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 30, src/scss/_components/homepage/_sticky.scss */
.sticky__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16px;
}

/* line 35, src/scss/_components/homepage/_sticky.scss */
.sticky__box-wrapper > div {
  padding-bottom: 16px;
}

/* line 40, src/scss/_components/homepage/_sticky.scss */
.sticky__box-left {
  width: 64px;
  padding-right: 8px;
}

/* line 45, src/scss/_components/homepage/_sticky.scss */
.sticky__box-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  min-height: 68px;
  padding: 12px 6px 12px 16px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #F8F8F8;
  -webkit-box-shadow: 0px 2px 4px rgba(56, 64, 71, 0);
          box-shadow: 0px 2px 4px rgba(56, 64, 71, 0);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 57, src/scss/_components/homepage/_sticky.scss */
.sticky__box-img {
  overflow: hidden;
  position: relative;
  width: 56px;
  height: 68px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

/* line 69, src/scss/_components/homepage/_sticky.scss */
.sticky__box-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 5px;
}

/* line 76, src/scss/_components/homepage/_sticky.scss */
.sticky__box-header > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 81, src/scss/_components/homepage/_sticky.scss */
.sticky__box-header > div:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 86, src/scss/_components/homepage/_sticky.scss */
.sticky__box-header > div i {
  margin-right: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6F757B;
}

/* line 96, src/scss/_components/homepage/_sticky.scss */
.sticky__box-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #6F757B;
}

/* line 104, src/scss/_components/homepage/_sticky.scss */
.sticky__box-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #EBF7F8;
}

/* line 112, src/scss/_components/homepage/_sticky.scss */
.sticky__box-badge p {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #3BB3BD;
}

/* line 120, src/scss/_components/homepage/_sticky.scss */
.sticky__box-info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #AEB5BC;
}

/* line 128, src/scss/_components/homepage/_sticky.scss */
.sticky__btn {
  width: 100%;
  padding-bottom: 12px;
}

/* line 132, src/scss/_components/homepage/_sticky.scss */
.sticky__btn .c-btn {
  width: 100%;
}

/* line 137, src/scss/_components/homepage/_sticky.scss */
.sticky__info {
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #AEB5BC;
}

/* line 146, src/scss/_components/homepage/_sticky.scss */
.sticky__line {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
  background-color: #F2F2F2;
}

/* line 153, src/scss/_components/homepage/_sticky.scss */
.sticky__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 157, src/scss/_components/homepage/_sticky.scss */
.sticky__action > img {
  display: block;
  max-width: 140px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/homepage/_tutor.scss */
.tutor {
  overflow: hidden;
  position: relative;
  padding-top: 32px;
  padding-bottom: 142px;
}

/* line 9, src/scss/_components/homepage/_tutor.scss */
.tutor__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: -webkit-calc(50% - 75px);
  height: calc(50% - 75px);
  background-color: #3BB3BD;
}

/* line 17, src/scss/_components/homepage/_tutor.scss */
.tutor__bg:before {
  content: '';
  position: absolute;
  top: -75px;
  left: -120px;
  width: -webkit-calc(100% + 240px);
  width: calc(100% + 240px);
  height: 75px;
  -webkit-border-radius: 100% 100% 0 0;
          border-radius: 100% 100% 0 0;
  background-color: #3BB3BD;
}

/* line 29, src/scss/_components/homepage/_tutor.scss */
.tutor__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 96px;
}

/* line 35, src/scss/_components/homepage/_tutor.scss */
.tutor__subtitle {
  width: 100%;
  max-width: 515px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #384047;
}

/* line 47, src/scss/_components/homepage/_tutor.scss */
.tutor__title {
  padding-bottom: 18px;
  font-weight: 900;
  font-size: 42px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

/* line 57, src/scss/_components/homepage/_tutor.scss */
.tutor__desc {
  width: 100%;
  max-width: 427px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F2F2F2;
}

/* line 69, src/scss/_components/homepage/_tutor.scss */
.tutor__btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
}

/* line 73, src/scss/_components/homepage/_tutor.scss */
.tutor__btn .c-btn {
  min-width: 280px;
}

/* line 78, src/scss/_components/homepage/_tutor.scss */
.tutor__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #FFFFFF;
}

/* line 87, src/scss/_components/homepage/_tutor.scss */
.tutor__table {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-box-shadow: 0px 12px 24px rgba(56, 64, 71, 0.12);
          box-shadow: 0px 12px 24px rgba(56, 64, 71, 0.12);
}

/* line 95, src/scss/_components/homepage/_tutor.scss */
.tutor__table-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

/* line 105, src/scss/_components/homepage/_tutor.scss */
.tutor__table-bg > div {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
}

/* line 109, src/scss/_components/homepage/_tutor.scss */
.tutor__table-bg > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 114, src/scss/_components/homepage/_tutor.scss */
.tutor__table-bg > div:nth-of-type(2) {
  max-width: 224px;
  background-color: #e0f4f5;
}

/* line 123, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head, .tutor__table-body {
  z-index: 2;
  position: relative;
  width: 100%;
}

/* line 131, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th-1,
.tutor__table-head .tutor__table-td-1, .tutor__table-body .tutor__table-th-1,
.tutor__table-body .tutor__table-td-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

@media screen and (max-width: 1023px) {
  /* line 131, src/scss/_components/homepage/_tutor.scss */
  .tutor__table-head .tutor__table-th-1,
  .tutor__table-head .tutor__table-td-1, .tutor__table-body .tutor__table-th-1,
  .tutor__table-body .tutor__table-td-1 {
    padding-right: 15px;
  }
}

/* line 139, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th-2,
.tutor__table-head .tutor__table-td-2, .tutor__table-body .tutor__table-th-2,
.tutor__table-body .tutor__table-td-2 {
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 1023px) {
  /* line 139, src/scss/_components/homepage/_tutor.scss */
  .tutor__table-head .tutor__table-th-2,
  .tutor__table-head .tutor__table-td-2, .tutor__table-body .tutor__table-th-2,
  .tutor__table-body .tutor__table-td-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 147, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th-3,
.tutor__table-head .tutor__table-td-3, .tutor__table-body .tutor__table-th-3,
.tutor__table-body .tutor__table-td-3 {
  padding-left: 40px;
  padding-right: 35px;
}

@media screen and (max-width: 1023px) {
  /* line 147, src/scss/_components/homepage/_tutor.scss */
  .tutor__table-head .tutor__table-th-3,
  .tutor__table-head .tutor__table-td-3, .tutor__table-body .tutor__table-th-3,
  .tutor__table-body .tutor__table-td-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 155, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th-4,
.tutor__table-head .tutor__table-td-4, .tutor__table-body .tutor__table-th-4,
.tutor__table-body .tutor__table-td-4 {
  padding-left: 35px;
  padding-right: 40px;
}

@media screen and (max-width: 1023px) {
  /* line 155, src/scss/_components/homepage/_tutor.scss */
  .tutor__table-head .tutor__table-th-4,
  .tutor__table-head .tutor__table-td-4, .tutor__table-body .tutor__table-th-4,
  .tutor__table-body .tutor__table-td-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 166, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 171, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 102px;
}

/* line 176, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head .tutor__table-th-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 181, src/scss/_components/homepage/_tutor.scss */
.tutor__table-head p {
  width: 100%;
  max-width: 144px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #384047;
}

/* line 191, src/scss/_components/homepage/_tutor.scss */
.tutor__table-body {
  padding-bottom: 40px;
}

/* line 195, src/scss/_components/homepage/_tutor.scss */
.tutor__table-body .tutor__table-tr:not(:last-of-type) {
  padding-bottom: 32px;
}

/* line 201, src/scss/_components/homepage/_tutor.scss */
.tutor__table-tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 207, src/scss/_components/homepage/_tutor.scss */
.tutor__table-th, .tutor__table-td {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
}

/* line 212, src/scss/_components/homepage/_tutor.scss */
.tutor__table-th-1, .tutor__table-td-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 218, src/scss/_components/homepage/_tutor.scss */
.tutor__table-th-2, .tutor__table-td-2 {
  max-width: 224px;
}

/* line 225, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td-1 p {
  width: 100%;
  max-width: 166px;
  text-align: right;
}

/* line 232, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td-2, .tutor__table-td-3, .tutor__table-td-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 240, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td-2 > div:nth-of-type(1), .tutor__table-td-3 > div:nth-of-type(1), .tutor__table-td-4 > div:nth-of-type(1) {
  padding-top: 3px;
}

/* line 246, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td p {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #384047;
}

/* line 253, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td .icon-font {
  margin-right: 10px;
}

/* line 256, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td .icon-font.icon-checked {
  color: #50bf16;
}

/* line 260, src/scss/_components/homepage/_tutor.scss */
.tutor__table-td .icon-font.icon-close {
  color: #f8463d;
}

/*# sourceMappingURL=maps/app.css.map */
