// SECTION :: START

.main {
	position: relative;
	padding-top: 42px;
	padding-bottom: 40px;
	@include adaptive(1023) {
		padding-top: 374px;
	}
	@include adaptive(767) {
		padding-top: 255px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/img-main.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include adaptive(1023) {
			height: 516px;
			background-image: url('../img/img-main--tablet.jpg');
		}
		@include adaptive(767) {
			height: 351px;
			background-image: url('../img/img-main--mobile.jpg');
		}

		&-arrow {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 15px;
			display: block;
			width: 24px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
			@include adaptive(1279) {
				display: none;
			}

			span {
				display: block;
				transform: rotate(45deg);
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				margin: 0 0 3px 4px;
				width: 16px;
				height: 16px;
				filter: drop-shadow(2px 2px 3px rgba(#000, 1));
				animation: mouse-wave 1s infinite;

				&:nth-of-type(1) {
					margin-top: 1px;
					animation-delay: .1s;
					animation-direction: alternate;
				}
				&:nth-of-type(2) {
					margin-top: -6px;
					animation-delay: .2s;
					animation-direction: alternate;
				}
				&:nth-of-type(3) {
					margin-top: -6px;
					animation-delay: .3s;
					animation-direction: alternate;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		padding-left: 48px;
		padding-right: 48px;
		@include adaptive(1023) {
			align-items: center;
			flex-direction: column;
		}
		@include adaptive(767) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__content {
		display: none;
		@include adaptive(1023) {
			display: block;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		max-width: 503px;
		padding: 56px 64px 40px;
		box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		background-color: #FFFFFF;
		@include adaptive(1023) {
			max-width: 608px;
			padding-top: 40px;
			padding-bottom: 32px;

			.main__title,
			.main__desc {
				display: none;
			}

			> div {
				width: 100%;
				max-width: 375px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		@include adaptive(767) {
			padding: 20px;
		}
	}

	&__title {
		padding-bottom: 16px;
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.2px;
		color: #384047;
		@include adaptive(1023) {
			color: #ffffff;
		}
		@include adaptive(767) {
			padding-bottom: 10px;
			font-size: 36px;
			line-height: 36px;
		}
	}

	&__desc {
		padding-bottom: 32px;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #6F757B;
		@include adaptive(1023) {
			color: rgba(255, 255, 255, 0.8);
			text-align: center;
		}
		@include adaptive(767) {
			padding-bottom: 20px;
			line-height: 20px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-field {
			width: 100%;
			padding-bottom: 16px;
			@include adaptive(767) {
				padding-bottom: 12px;
			}

			&--button {
				padding-top: 8px;
				@include adaptive(767) {
					padding-top: 4px;
				}
			}
		}

		input {
			outline: none;
			position: relative;
			width: 100%;
			height: 56px;
			padding: 0 18px;
			border-radius: 4px;
			box-shadow: none;
			border: 1px solid #DADFE1;
			background-color: #FFFFFF;
			font-size: 18px;
			line-height: 20px;
			@include inputPlaceholder {
				font-size: 18px;
				line-height: 20px;
				color: #AEB5BC;
			}
			@include adaptive(767) {
				height: 48px;
				font-size: 16px;
				@include inputPlaceholder {
					font-size: 16px;
				}
			}
		}

		.c-btn {
			width: 100%;
			height: 56px;

			span {
				font-size: 18px;
			}
		}
	}

	&__divider {
		display: flex;
		align-items: center;
		padding-top: 12px;
		padding-bottom: 28px;
		@include adaptive(767) {
			padding-top: 8px;
			padding-bottom: 20px;
		}

		p {
			padding-left: 17px;
			padding-right: 17px;
			font-size: 16px;
			line-height: 20px;
			color: #6F757B;
			@include adaptive(767) {
				font-size: 14px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		span {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 1px;
			background-color: #e3e3e3;
		}
	}

	&__btn {
		justify-content: space-between;
		padding-bottom: 32px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}

		.c-btn {
			width: 100%;
			max-width: calc((100% - 20px) / 2);
			border: 1px solid #DADFE1;
			@include adaptive(767) {
				max-width: calc((100% - 10px) / 2);
			}

			img {
				display: block;
				max-width: 20px;
				height: auto;
				margin-right: 12px;
			}

			span {
				color: #384047;
			}
		}
	}

	&__info {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0;
		text-align: center;
		color: #8a959e;
		@include adaptive(767) {
			width: 100%;
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;

			br {
				display: none;
			}
		}

		a {
			font-weight: 500;
			color: #6f757b;
		}
	}
}

@keyframes mouse-wave {
	0% {opacity: 0;}
	50% {opacity: .5;}
	100% {opacity: 1;}
}

// SECTION :: END
