// SECTION :: START

.reviews {
	position: relative;
	padding-top: 96px;
	padding-bottom: 96px;
	@include adaptive(1023) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include adaptive(767) {
		padding-top: 0;
		padding-bottom: 56px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 180px;
			border-radius: 0 0 4px 4px;
			background-color: #EDEFF0;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(1023) {
				width: 100%;
				max-width: 610px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-left {
			overflow: hidden;
			position: relative;
			height: 546px;
			@include adaptive(1023) {
				height: 458px;
				margin-bottom: 45px;
			}
			@include adaptive(767) {
				height: 343px;
				margin-bottom: 30px;
			}

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-right {
			padding-left: 128px;
			@include adaptive(1023) {
				padding-left: 0;
			}

			.icon-font {
				margin-bottom: 40px;
				color: rgba(#3bb3bd, 0.15);
				font-size: 38px;
				@include adaptive(1023) {
					display: none;
				}
			}
		}
	}

	&__title {
		position: relative;
		padding-bottom: 30px;
		font-size: 28px;
		line-height: 40px;
		color: #000000;
		@include adaptive(767) {
			display: flex;
			align-items: flex-start;
			padding-bottom: 12px;
			font-size: 20px;
			line-height: 28px;
		}

		span {
			@include adaptive(1023) {
				display: block;
				width: 100%;
				max-width: 440px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			@include adaptive(767) {
				max-width: 100%;
				text-align: left;
				padding-left: 20px;
			}
		}

		.icon-font {
			display: none;
			position: absolute;
			@include adaptive(1023) {
				display: flex;
			}
			@include adaptive(767) {
				position: relative;
				margin-bottom: 0;
				font-size: 35px;
			}

			&:nth-of-type(1) {
				top: 0;
				left: 0;
			}
			&:nth-of-type(2) {
				bottom: 0;
				right: 0;
				transform: scale(-1);
				@include adaptive(767) {
					display: none;
				}
			}
		}
	}

	&__desc {
		width: 100%;
		max-width: 240px;
		padding-bottom: 30px;
		font-size: 16px;
		line-height: 22px;
		color: #384047;
		@include adaptive(1023) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		@include adaptive(767) {
			padding-left: 65px;
			text-align: left;
			max-width: unset;
		}

		span {
			font-weight: 500;
		}
	}

	.c-btn {
		@include adaptive(767) {
			width: 100%;
		}

		&__wrapper {
			@include adaptive(1023) {
				justify-content: center;
			}
		}
	}
}

// SECTION :: END
