// HEADER :: START

header#header.header

	.header__wrapper
		.header__wrapper-left

			.logo.logo--header
				a.logo__btn(href="#" aria-label='logotype')
					img.logo__img(src="img/logo.svg" alt="")

		.header__wrapper-right

			div

				.header__nav
					a(href="#") Find students

			div

				a.header__ques(href="#")
					img(src="img/ques.svg" alt="")

				a.header__login(href="#")
					i.icon-font.icon-login
					span Login

// HEADER :: END
