// HEADER :: START

header#header.header
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="#" aria-label='logotype')
						img.logo__img(src="img/logo.svg" alt="")

			.header__wrapper-right

				.header__btn.c-btn__wrapper
					a.c-btn.c-btn__primary.c-btn--small(href="#")
						span Try Preply

// HEADER :: END
