// SECTION :: START

section#menu.menu(mobile-block-js)

	.menu__head

		a.menu__close(href="#")
			svg(height='12' viewBox='0 0 12 12' width='12' xmlns='http://www.w3.org/2000/svg')
				path(d='M6 4.586L10.293.293l1.414 1.414L7.414 6l4.293 4.293-1.414 1.414L6 7.414l-4.293 4.293-1.414-1.414L4.586 6 .293 1.707 1.707.293z')

	.menu__body

		div

			nav.menu__nav
				a.menu__nav-item(href="#") Home
				a.menu__nav-item(href="#") Find tutors
				a.menu__nav-item(href="#") Enterprise
				a.menu__nav-item(href="#") Become a tutor
				a.menu__nav-item(href="#") Help
				a.menu__nav-item(href="#") Log in

		div

			select
				option(value='ru') Русский
				option(disabled='' value='en') English
				option(value='pl') Polski
				option(value='de') Deutsch
				option(value='ua') Українська
				option(value='pt') Português
				option(value='tr') Türkçe
				option(value='id') Bahasa Indonesia
				option(value='fr') Français
				option(value='it') Italiano
				option(value='es') Español
				option(value='zh') 中文
				option(value='ja') 日本語
				option(value='ko') 한국어
				option(value='ar')

			select
				option(value='BRL') BRL
				option(value='GBP') GBP
				option(value='EUR') EUR
				option(value='PLN') PLN
				option(value='RUB') RUB
				option(value='UAH') UAH
				option(disabled='' value='USD') USD

// SECTION :: END
