// HEADER :: START

.header {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(#ffffff, 1);
	@include transition(box-shadow);

	&.header--fixed {
		box-shadow: 0 2px 5px 0 rgba($c-black, 0.15);
		@include transition(box-shadow);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
		padding-left: 30px;
		padding-right: 33px;
		@include adaptive(767) {
			height: 64px;
		}

		&-left {
			padding-right: 26px;
		}

		&-right {
			position: relative;
			display: flex;
			align-items: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 1px;
				height: 30px;
				background-color: #EDEFF0;
			}

			> div {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 25px;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 0;
						width: 1px;
						height: 30px;
						background-color: #EDEFF0;
					}
				}

				&:nth-of-type(2) {
					padding-left: 27px;
				}
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;

		a {
			display: flex;
			font-size: 14px;
			line-height: 20px;
			color: #384047;
			@include transition(color);

			&:not(:last-of-type) {
				margin-right: 16px;
			}

			&:hover {
				color: #6f757b;
				@include transition(color);
			}
		}
	}

	&__dropdown {
		opacity: 0;
		visibility: hidden;
		transform: translateY(5px);
		position: absolute;
		top: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		min-width: 170px;
		padding: 12px;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
		background-color: #ffffff;
		@include transition(opacity, visibility, transform);

		&.is-open {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			@include transition(opacity, visibility, transform);
		}

		> div {
			&:not(:last-of-type) {
				margin-bottom: 16px;
			}
		}

		&-wrapper {
			position: relative;
			display: flex;
			padding-right: 24px;
		}

		&-toggle {
			display: flex;
			align-items: center;
			height: 70px;

			span {
				font-size: 14px;
				line-height: 20px;
				color: #384047;

				i,
				u {
					text-decoration: none;
					font-style: normal;
				}
			}

			.icon-font {
				margin-left: 6px;
				color: #384047;
				font-size: 6px;
			}
		}

		select {
			outline: none;
			position: relative;
			display: block;
			width: 100%;
			max-width: 100%;
			height: 38px;
			padding: 0 30px 0 12px;
			border: 1px solid #dadfe1;
			box-shadow: none;
			border-radius: 4px;
			background-color: #fff;
			color: #384047;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.4;
		}

		&-title {
			padding-bottom: 5px;
			color: #6f757b;
			font-size: 13px;
		}
	}

	&__ques {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.icon-font {
			color: #6f757b;
			font-size: 20px;
		}
	}

	&__login {
		display: flex;
		align-items: center;
		margin-left: 29px;

		&:hover {
			.icon-font,
			span {
				color: #6f757b;
				@include transition(color);
			}
		}

		.icon-font {
			margin-right: 10px;
			color: #8a959e;
			font-size: 18px;
			@include transition(color);
		}

		span {
			color: #384047;
			font-size: 14px;
			@include transition(color);
		}
	}
}

// HEADER :: END
