// SECTION :: START

.details {
	padding-top: 32px;
	padding-bottom: 36px;

	&__wrapper {
		display: flex;

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-right: 96px;
		}

		&-right {
			width: 276px;
		}
	}

	&__title {
		padding-bottom: 24px;
		font-weight: 900;
		font-size: 42px;
		line-height: 58px;
		color: #384047;

		&-2 {
			padding-bottom: 28px;
		}

		&--sub {
			font-size: 28px;
			line-height: 42px;
		}

		span {
			position: relative;
			height: 56px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #E0F4F5;
			border-radius: 4px;
			color: #3BB3BD;
		}
	}

	&__heading {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 24px;
		font-weight: 700;
		font-size: 28px;
		line-height: 36px;
		color: #384047;

		span {
			padding-right: 5px;
			color: #3BB3BD;
		}
	}

	&__desc {
		width: 100%;
		max-width: 624px;
		font-size: 16px;
		line-height: 26px;
		color: #384047;

		&-1,
		&-12 {
			padding-bottom: 32px;
		}
		&-2,
		&-5,
		&-9,
		&-11,
		&-15 {
			padding-bottom: 20px;
		}
		&-3,
		&-7 {
			margin-bottom: 40px;
		}
		&-4 {
			padding-bottom: 48px;
		}
		&-6 {
			padding-bottom: 24px;
		}
		&-8,
		&-10,
		&-13,
		&-14 {
			padding-bottom: 64px;
		}

		i {
			font-style: italic;
		}
	}

	&__view {
		display: flex;
		align-items: center;
		padding-bottom: 48px;

		&.details__view--light {
			padding-bottom: 0;

			.details__view-right {
				p,
				span {
					color: #ffffff;
				}
			}
		}

		&-right {
			padding-left: 24px;

			p,
			span {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.2px;
			}

			p {
				color: #3BB3BD;
			}

			span {
				color: #aeb5bc;
			}
		}
	}

	&__poster {
		overflow: hidden;
		position: relative;
		display: flex;
		width: 100%;
		max-width: 704px;
		min-height: 364px;
		margin-bottom: 64px;
		border-radius: 8px;
		background-color: #3BB3BD;

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding: 32px 40px 40px;
		}

		&-right {
			overflow: hidden;
			position: relative;
			width: 100%;
			max-width: 189px;
			min-height: 100%;

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-title {
			padding-top: 32px;
			padding-bottom: 16px;
			font-weight: bold;
			font-size: 20px;
			line-height: 26px;
			color: #FFFFFF;
		}

		&-desc {
			padding-bottom: 24px;
			width: 100%;
			max-width: 390px;
			font-size: 16px;
			line-height: 26px;
			color: #F2F2F2;
		}
	}

	&__image {
		overflow: hidden;
		position: relative;
		width: 100%;
		max-width: 704px;
		height: 364px;
		margin-bottom: 40px;
		border-radius: 8px;
		transform: translateZ(0);

		img {
			@extend %imageResCoverAbs;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		height: 176px;
		padding: 32px 40px;
		margin-bottom: 32px;
		background-color: #E0F4F5;
		border-radius: 8px;

		span {
			padding-bottom: 16px;
			font-size: 16px;
			line-height: 26px;
			color: #6F757B;
		}

		p {
			font-weight: bold;
			font-size: 28px;
			line-height: 36px;
			color: #384047;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding-bottom: 24px;
		padding-left: 27px;

		li {
			display: flex;
			align-items: flex-start;
			width: 100%;
			max-width: 540px;

			&:not(:last-of-type) {
				padding-bottom: 16px;
			}

			> div {
				&:nth-of-type(1) {
					padding-top: 2px;
					width: 32px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			p {
				font-size: 16px;
				line-height: 24px;
				color: #384047;

				span {
					font-weight: 700;
				}
			}
		}

		.icon-flash {
			color: #3bb3bd;
			font-size: 18px;
		}
	}

	&__visual {
		overflow: hidden;
		position: relative;
		width: 414px;
		height: 240px;
		margin-bottom: 64px;
		border-radius: 8px;
		background-color: #F2F2F2;
	}
}

// SECTION :: END
