// SECTION :: START

.language {
	position: relative;
	padding-top: 16px;
	padding-bottom: 32px;
	@include adaptive(767) {
		z-index: 999;
		position: fixed;
		top: 64px;
		left: -16px;
		width: calc(100% + 32px);
		padding-top: 0;
		padding-bottom: 0;
	}

	&__wrapper {
		padding: 32px 40px;
		border-radius: 8px;
		background-color: #F8F8F8;
		@include adaptive(767) {
			padding: 12px 16px 0;
			border-radius: 0;
		}
	}

	&__title {
		padding-bottom: 32px;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #384047;
		@include adaptive(767) {
			padding-bottom: 12px;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			color: #6F757B;

			span {
				display: none;
			}
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 0.2s ease;
		@include adaptive(767) {
			flex-direction: row;
			padding: 10px;
			border-radius: 4px;
			background-color: #FFFFFF;
			box-shadow: 0px 2px 2px rgba(56, 64, 71, 0.12);
		}

		&:hover {
			transform: translateY(-1px);
			transition: transform 0.2s ease;
			@include adaptive(767) {
				transform: translateY(0);
			}

			.language__box {
				&-flag {
					box-shadow: 0px 2px 4px rgba(56, 64, 71, 0.16);
					transition: box-shadow 0.2s ease;
					@include adaptive(767) {
						box-shadow: 0px 6px 8px rgba(56, 64, 71, 0.12);
					}
				}
			}
		}

		&.language__box--more {
			.language__box {
				&-flag {
					border-color: #3BB3BD;
					background-color: #3bb3bd;
				}
			}
		}

		&-wrapper {
			display: flex;
			align-items: flex-start;
			@include adaptive(767) {
				overflow: hidden;
				overflow-x: auto;
				white-space: nowrap;
				position: relative;
				width: calc(100% + 16px);
				display: block;
				padding-bottom: 16px;
			}

			> div {
				padding-right: 47px;
				@include adaptive(767) {
					display: inline-block;
					vertical-align: top;
					padding-right: 10px;

					&:last-of-type {
						padding-right: 16px;
					}
				}
			}
		}

		&-flag {
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 54px;
			height: 54px;
			border-radius: 4px;
			border: 2px solid #FFFFFF;
			background-color: #C4C4C4;
			box-shadow: 0px 6px 8px rgba(56, 64, 71, 0.12);
			transition: box-shadow 0.2s ease;
			@include adaptive(767) {
				width: 19px;
				height: 12px;
				border: none;
				box-shadow: none;
				background-color: transparent;
			}

			svg {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
				@include adaptive(767) {
					border-radius: 1px;
				}
			}
		}

		&-content {
			padding-top: 12px;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: #6F757B;
			@include adaptive(767) {
				padding-top: 0;
				padding-left: 8px;
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

// SECTION :: END
