// SECTION :: START

.tutor {
	overflow: hidden;
	position: relative;
	padding-top: 32px;
	padding-bottom: 142px;

	&__bg {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: calc(50% - 75px);
		background-color: #3BB3BD;

		&:before {
			content: '';
			position: absolute;
			top: -75px;
			left: -120px;
			width: calc(100% + 240px);
			height: 75px;
			border-radius: 100% 100% 0 0;
			background-color: #3BB3BD;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		padding-top: 96px;
	}

	&__subtitle {
		width: 100%;
		max-width: 515px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 48px;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #384047;
	}

	&__title {
		padding-bottom: 18px;
		font-weight: 900;
		font-size: 42px;
		line-height: 58px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #FFFFFF;
	}

	&__desc {
		width: 100%;
		max-width: 427px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 48px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #F2F2F2;
	}

	&__btn {
		justify-content: center;
		padding-bottom: 16px;

		.c-btn {
			min-width: 280px;
		}
	}

	&__info {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.2px;
		text-align: center;
		color: #FFFFFF;
	}

	&__table {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 12px;
		box-shadow: 0px 12px 24px rgba(56, 64, 71, 0.12);

		&-bg {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			background-color: #F8F8F8;

			> div {
				width: 100%;
				max-width: calc(100% / 4);

				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
				&:nth-of-type(2) {
					max-width: 224px;
					background-color: #e0f4f5;
				}
				&:nth-of-type(3) {}
				&:nth-of-type(4) {}
			}
		}

		&-head,
		&-body {
			z-index: 2;
			position: relative;
			width: 100%;

			.tutor__table-th,
			.tutor__table-td {
				&-1 {
					display: flex;
					justify-content: flex-end;
					padding-right: 40px;
					@include adaptive(1023) {
						padding-right: 15px;
					}
				}
				&-2 {
					padding-left: 25px;
					padding-right: 25px;
					@include adaptive(1023) {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
				&-3 {
					padding-left: 40px;
					padding-right: 35px;
					@include adaptive(1023) {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
				&-4 {
					padding-left: 35px;
					padding-right: 40px;
					@include adaptive(1023) {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: center;

			.tutor__table-th {
				display: flex;
				align-items: center;
				min-height: 102px;

				&-2 {
					justify-content: center;
				}
			}

			p {
				width: 100%;
				max-width: 144px;
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				color: #384047;
			}
		}

		&-body {
			padding-bottom: 40px;

			.tutor__table-tr {
				&:not(:last-of-type) {
					padding-bottom: 32px;
				}
			}
		}

		&-tr {
			display: flex;
			align-items: center;
			width: 100%;
		}

		&-th,
		&-td {
			width: 100%;
			max-width: calc(100% / 4);

			&-1 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&-2 {
				max-width: 224px;
			}
		}

		&-td {
			&-1 {
				p {
					width: 100%;
					max-width: 166px;
					text-align: right;
				}
			}

			&-2,
			&-3,
			&-4 {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;

				> div {
					&:nth-of-type(1) {
						padding-top: 3px;
					}
				}
			}

			p {
				font-weight: 500;
				font-size: 16px;
				line-height: 21px;
				color: #384047;
			}

			.icon-font {
				margin-right: 10px;

				&.icon-checked {
					color: #50bf16;
				}

				&.icon-close {
					color: #f8463d;
				}
			}
		}
	}
}

// SECTION :: END
