// SECTION :: START

section#language.language
	.c-grid
		.language__wrapper

			p.language__title!= "<span>Speak any language confidently!</span> Get 50% off your first 1-on-1 lesson"

			.language__box-wrapper
				div
					a.language__box(href="https://preply.com/en/skype/english-tutors#_prefNzE5ODk0" aria-label='language button')
						.language__box-flag
							+iconSVG('usa')
						.language__box-content
							p English
				div
					a.language__box(href="https://preply.com/en/skype/spanish-tutors#_prefNzE5ODk0" aria-label='language button')
						.language__box-flag
							+iconSVG('spanish')
						.language__box-content
							p Spanish
				div
					a.language__box(href="https://preply.com/en/skype/french-tutors#_prefNzE5ODk0" aria-label='language button')
						.language__box-flag
							+iconSVG('french')
						.language__box-content
							p French
				div
					a.language__box(href="https://preply.com/en/skype/chinese-tutors#_prefNzE5ODk0" aria-label='language button')
						.language__box-flag
							+iconSVG('chinese')
						.language__box-content
							p Chinese
				div
					a.language__box(href="https://preply.com/en/skype/russian-tutors#_prefNzE5ODk0" aria-label='language button')
						.language__box-flag
							+iconSVG('russian')
						.language__box-content
							p Russian
				div
					a.language__box.language__box--more(href="#" aria-label='language button')
						.language__box-flag
							img(src="img/logo-icon-white.svg" alt="")
						.language__box-content
							p More

// SECTION :: END
