// SECTION :: START

section#sticky.sticky

	p.sticky__title!= "Find the best<br>tutor for you"

	.sticky__body

		.sticky__box-wrapper
			div
				a.sticky__box(href="https://preply.com/en/skype/english-tutors#_prefNzE5ODk0")
					.sticky__box-left
						.sticky__box-img
							img(src="img/img-sticky-box-1.png" alt="")
					.sticky__box-right
						.sticky__box-header
							div
								p.sticky__box-name Micaella
							div
								+iconSVG('usa-flag')
							div
								i ·
								.sticky__box-badge
									p English Tutor
						p.sticky__box-info 476 lessons given
			div
				a.sticky__box(href="https://preply.com/en/skype/spanish-tutors#_prefNzE5ODk0")
					.sticky__box-left
						.sticky__box-img
							img(src="img/img-sticky-box-2.png" alt="")
					.sticky__box-right
						.sticky__box-header
							div
								p.sticky__box-name Makarena
							div
								+iconSVG('chile-flag')
							div
								i ·
								.sticky__box-badge
									p Spanish Tutor
						p.sticky__box-info 238 lessons given
			div
				a.sticky__box(href="https://preply.com/en/skype/french-tutors#_prefNzE5ODk0")
					.sticky__box-left
						.sticky__box-img
							img(src="img/img-sticky-box-3.png" alt="")
					.sticky__box-right
						.sticky__box-header
							div
								p.sticky__box-name François
							div
								+iconSVG('france-flag')
							div
								i ·
								.sticky__box-badge
									p French Tutor
						p.sticky__box-info 361 lessons given
			div
				a.sticky__box(href="https://preply.com/en/skype/chinese-tutors#_prefNzE5ODk0")
					.sticky__box-left
						.sticky__box-img
							img(src="img/img-sticky-box-4.png" alt="")
					.sticky__box-right
						.sticky__box-header
							div
								p.sticky__box-name Yawen
							div
								+iconSVG('chinese-flag')
							div
								i ·
								.sticky__box-badge
									p Chinese Tutor
						p.sticky__box-info 176 lessons given
			div
				a.sticky__box(href="https://preply.com/en/skype/russian-tutors#_prefNzE5ODk0")
					.sticky__box-left
						.sticky__box-img
							img(src="img/img-sticky-box-5.png" alt="")
					.sticky__box-right
						.sticky__box-header
							div
								p.sticky__box-name Margarita
							div
								+iconSVG('ukraine-flag')
							div
								i ·
								.sticky__box-badge
									p Russian Tutor
						p.sticky__box-info 587 lessons given

	.sticky__footer
		.sticky__btn.c-btn__wrapper
			a.c-btn.c-btn--big.c-btn__primary(href="https://preply.com/#_prefNzE5ODk0")
				span View tutor profiles

		p.sticky__info Get 50% off your first lesson

// SECTION :: END
