// SECTION :: START

section#tutor.tutor

	.tutor__bg

	.c-grid

		p.tutor__subtitle Preply combines the most effective aspects of traditional language learning with the flexibility and affordability of educational apps.

		.tutor__table
			.tutor__table-bg
				div
				div
				div
				div
			.tutor__table-head
				.tutor__table-tr
					.tutor__table-th.tutor__table-th-1
					.tutor__table-th.tutor__table-th-2

						.logo.logo--tutor
							a.logo__btn(href="#" aria-label='logotype')
								img.logo__img(src="img/logo.svg" alt="")

					.tutor__table-th.tutor__table-th-3

						p!= "Traditional<br>language school"

					.tutor__table-th.tutor__table-th-4

						p!= "Language<br>learning apps"

			.tutor__table-body
				.tutor__table-tr.tutor__table-tr-1
					.tutor__table-td.tutor__table-td-1
						p Price
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p From $5 an hour
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p From $20 an hour
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-checked
						div
							p From $10 / month
				.tutor__table-tr.tutor__table-tr-2
					.tutor__table-td.tutor__table-td-1
						p Location
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p Flexible
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p Not flexible
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-checked
						div
							p Flexible
				.tutor__table-tr.tutor__table-tr-3
					.tutor__table-td.tutor__table-td-1
						p Time
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p 24 hours
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p 8am - 10pm
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-checked
						div
							p 24 hours
				.tutor__table-tr.tutor__table-tr-4
					.tutor__table-td.tutor__table-td-1
						p Native speakers
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p Guaranteed
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p Not guaranteed
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-close
						div
							p None at all
				.tutor__table-tr.tutor__table-tr-5
					.tutor__table-td.tutor__table-td-1
						p When you make mistakes during class
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p Get corrected  instantly
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-checked
						div
							p Interrupt the lesson  to ask the teacher
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-close
						div
							p No help offered
				.tutor__table-tr.tutor__table-tr-6
					.tutor__table-td.tutor__table-td-1
						p Custom lessons
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p Yes!
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p No
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-close
						div
							p No
				.tutor__table-tr.tutor__table-tr-7
					.tutor__table-td.tutor__table-td-1
						p Money back guarantee
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p Of course
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-close
						div
							p No
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-checked
						div
							p Sometimes
				.tutor__table-tr.tutor__table-tr-8
					.tutor__table-td.tutor__table-td-1
						p Live speaking practice
					.tutor__table-td.tutor__table-td-2
						div
							i.icon-font.icon-checked
						div
							p From the first lesson
					.tutor__table-td.tutor__table-td-3
						div
							i.icon-font.icon-checked
						div
							p A little
					.tutor__table-td.tutor__table-td-4
						div
							i.icon-font.icon-checked
						div
							p None

		.tutor__wrapper

			p.tutor__title Try a Preply tutor!
			p.tutor__desc With the money back guarantee, there’s nothing to lose – and a whole world of language skills to gain!

			.tutor__btn.c-btn__wrapper
				a.c-btn.c-btn__secondary.c-btn--big(href="https://preply.com/#_prefNzE5ODk0")
					span View tutor profiles

			p.tutor__info Get 50% off your first lesson

// SECTION :: END
