// SECTION :: START

section#benefits.benefits
	.c-grid
		.benefits__wrapper
			div
				.benefits__box.benefits__box-1
					.benefits__box-head
						img(src="img/benefits-1.svg" alt="")
					.benefits__box-body
						p Set your own rate
						span Choose your hourly rate and change it anytime. On average, English tutors charge $15-25 per hour.
			div
				.benefits__box.benefits__box-2
					.benefits__box-head
						img(src="img/benefits-2.svg" alt="")
					.benefits__box-body
						p Save time on lesson plans
						span Get free access to Preply’s professional lesson plans and training webinars. Teach with minimum lesson prep.
			div
				.benefits__box.benefits__box-3
					.benefits__box-head
						img(src="img/benefits-3.svg" alt="")
					.benefits__box-body
						p Teach anytime, anywhere
						span Decide when and how many hours you want to teach. No minimum time commitment or fixed schedule. Be your own boss!

// SECTION :: END
