// SECTION :: START

section#paid.paid

	.paid__bg

	.c-grid
		.paid__wrapper

			div

				p.paid__title Get paid to teach English online
				p.paid__desc Connect with thousands of English learners and teach from your living room

				.c-btn__wrapper
					a.c-btn.c-btn--big.c-btn__primary(href="#")
						span Get started

// SECTION :: END
