// SECTION :: START

mixin collapse(href, title)
	.ques__collapse
		a.ques__collapse-head(href!= href data-effect='mfp-zoom-in' popup-js)
			div
				.ques__collapse-plus
			div
				p.ques__collapse-title!= title

section#ques.ques
	.c-grid
		.ques__wrapper

			p.ques__title Frequently asked questions

			.ques__collapse-wrapper
				div
					+collapse('#ques1', 'What kind of tutors does Preply look for?')
				div
					+collapse('#ques2', 'How do you become a tutor?')
				div
					+collapse('#ques3', 'Why should I teach on Preply?')
				div
					+collapse('#ques4', 'What are the technology requirements for Preply tutors?')
				div
					+collapse('#ques5', 'Is it free to create a tutor profile on Preply?')
				div
					+collapse('#ques6', 'How much can I earn on Preply?')

			p.ques__info!= "If you have any other questions, <a href='#'>check our <br>Help center</a> or <a href='#'>contact our support team</a>"

// SECTION :: END
