// SECTION :: START

section#reviews.reviews
	.c-grid
		.reviews__wrapper
			.reviews__wrapper-left
				img(src="img/img-reviews.jpeg" alt="")

			.reviews__wrapper-right

				i.icon-font.icon-quote

				p.reviews__title Preply allowed me to make a living without leaving home!
				p.reviews__desc!= "<span>Eliza G.</span> teaches English on Preply so she can work flexible hours"

				.c-btn__wrapper
					a.c-btn.c-btn__primary.c-btn--big(href="#")
						span Become a tutor

// SECTION :: END
