// SECTION :: START

section#teach.teach
	.c-grid
		.teach__wrapper
			.teach__wrapper-left

				div

					p.teach__title!= "Teach students from <br>over 180 countries"
					p.teach__desc Preply tutors teach 800,000+ students globally. Join us and we'll make teaching easy for you.

					ul.teach__list
						li
							div
								i
							div
									p Smart calendar
						li
							div
								i
							div
									p Interactive classroom
						li
							div
								i
							div
									p Professional learning plans
						li
							div
								i
							div
									p Supportive tutor community

					.c-btn__wrapper
						a.c-btn.c-btn__primary.c-btn--big(href="#")
							span Sign up to teach

			.teach__wrapper-right

				.teach__box-wrapper
					div
						.teach__box
							.teach__box-left
								img(src="img/img-teach-1.jpeg" alt="")
							.teach__box-right
								.teach__box-header
									div
										p.teach__box-name Marcella F.
									div
										p.teach__box-time 12:40
								.teach__box-info
									span Great lesson today!
					div
						.teach__box
							.teach__box-left
								img(src="img/img-teach-2.jpeg" alt="")
							.teach__box-right
								.teach__box-header
									div
										p.teach__box-name Victor M.
									div
										p.teach__box-time Sep 28
								.teach__box-info
									span Can we reschedule our lesson?
					div
						.teach__box
							.teach__box-left
								img(src="img/img-teach-3.jpeg" alt="")
							.teach__box-right
								.teach__box-header
									div
										p.teach__box-name Wang X.
									div
										p.teach__box-time Sep 25
								.teach__box-info
									i.icon-font.icon-paperclip
									span Homework.doc
					div
						.teach__box
							.teach__box-left
								img(src="img/img-teach-4.jpeg" alt="")
							.teach__box-right
								.teach__box-header
									div
										p.teach__box-name Jennifer C.
									div
										p.teach__box-time Sep 24
								.teach__box-info
									span Thank you!
					div
						.teach__box
							.teach__box-left
								img(src="img/img-teach-5.jpeg" alt="")
							.teach__box-right
								.teach__box-header
									div
										p.teach__box-name Grace B.
									div
										p.teach__box-time Sep 24
								.teach__box-info
									span Let’s schedule next lesson!

// SECTION :: END
