@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == checked {
		$char: "\E001";
	}
	@if $filename == close {
		$char: "\E002";
	}
	@if $filename == facebook {
		$char: "\E003";
	}
	@if $filename == flash {
		$char: "\E004";
	}
	@if $filename == login {
		$char: "\E005";
	}
	@if $filename == mail {
		$char: "\E006";
	}
	@if $filename == paperclip {
		$char: "\E007";
	}
	@if $filename == play {
		$char: "\E008";
	}
	@if $filename == quote {
		$char: "\E009";
	}
	@if $filename == vk {
		$char: "\E00A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-checked {
	@include icon(checked);

}
.icon-close {
	@include icon(close);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-flash {
	@include icon(flash);

}
.icon-login {
	@include icon(login);

}
.icon-mail {
	@include icon(mail);

}
.icon-paperclip {
	@include icon(paperclip);

}
.icon-play {
	@include icon(play);

}
.icon-quote {
	@include icon(quote);

}
.icon-vk {
	@include icon(vk);

}