.icon-chile-flag {
  width:(19)*1px;
  height:(12)*1px;
}
.icon-chinese {
  width:(54)*1px;
  height:(54)*1px;
}
.icon-chinese-flag {
  width:(19)*1px;
  height:(12)*1px;
}
.icon-france-flag {
  width:(19)*1px;
  height:(12)*1px;
}
.icon-french {
  width:(54)*1px;
  height:(54)*1px;
}
.icon-half-star {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-russian {
  width:(54)*1px;
  height:(54)*1px;
}
.icon-spanish {
  width:(54)*1px;
  height:(54)*1px;
}
.icon-star {
  width:(510)*1px;
  height:(510)*1px;
}
.icon-ukraine-flag {
  width:(19)*1px;
  height:(12)*1px;
}
.icon-usa {
  width:(54)*1px;
  height:(54)*1px;
}
.icon-usa-flag {
  width:(19)*1px;
  height:(12)*1px;
}
